* {
	font-family: sans-serif;
}

body {
    background: #232529;
    color: white;
    margin: 0;
}

footer > p {
    text-align: center;
}

#tableButton, #tableInput, #tableFilter {
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;
}

[class*="hide"] {
	display: none !important
}

.addFilterButton {
    margin-bottom: 5px !important;
    background: rgba(215, 212, 231, 0.2) !important;
}

button[type='button'] {
  background: rgba(215, 212, 231, 0.075);
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  border: 1px solid gray;
}

.activeButton {
  background: rgba(215, 212, 231, 0.4) !important;
}

#table > table > thead > tr > th {
	cursor: pointer;
    background: rgba(215, 212, 231, 0.075); 
    color: white; 
    font-weight: bold; 
    padding: 0.5rem 0.5rem;
}

.th-sort-asc::after {
  content: "\25b4";
}

.th-sort-desc::after {
  content: "\25be";
}

.th-sort-asc,
.th-sort-desc {
  background: rgba(0, 0, 0, 0.1) !important;
}

h1, td, th {
	text-align: center;
}

tr, th {
  transition: background 0.2s ease-in-out;
}

tr:nth-of-type(odd) {  
  background: #7f85a01a; 
}

input[type="search"] {
  padding: 0.5rem;
  border-radius: 3px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.226);
  box-sizing: border-box;
  background: none;
  color: white;
  transition: background 0.2s ease-in-out;
  font-weight: 600;
  width: 300px;
}

@media 
only screen and (max-width: 350px) {
    input[type="search"] {
        width: 200px;
    }
}

input[type="search"]:focus, input[type="search"]:hover {
  background: rgba(255, 255, 255, 0.144);
}

@media (hover: hover) {
    #table > table > thead > tr > th:hover, #speciesPanelMainContainer th:hover{
        background: rgba(113, 117, 126, 0.336);
        cursor: pointer;
    }
    #speciesTableTbody tr:hover, #abilitiesTableTbody tr:hover, #movesTableTbody tr:hover, #locationsTableTbody tr:hover, 
    #speciesPanelLevelUpTableTbody tr:hover, #speciesPanelTMHMTableTbody tr:hover, #speciesPanelTutorTableTbody tr:hover, #speciesPanelEggMovesTableTbody tr:hover {
        background-color: rgba(129, 135, 156, 0.301);
        cursor: pointer;
    }
    .utilityButton:hover, #speciesPanelCloseButton:hover {
        background: salmon;
        cursor: pointer;
    }

    button[type='button']:hover {
        background: rgba(215, 212, 231, 0.3);
    }

    .tableFilter:hover {
        background: rgba(215, 212, 231, 0.5) !important;
    }

    .crossOnHover:hover {
        cursor: pointer;
        text-decoration: line-through !important;
        background: rgba(215, 212, 231, 0.5) !important;
    }
}

.utilityButton {
  font-family: monospace;
  position: fixed;
  bottom: 5px;
  right: calc(50vw - 650px);
  background: red;
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  filter: opacity(100%);
}

@media 
only screen and (max-width: 1300px) {
    .utilityButton {
        right: 5px !important;
    }
}

table {
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 15px 0 rgba(27, 27, 27, 0.568);
}

td, th {
    /*
    border: 1px solid rgba(255, 255, 255, 0.048);
    */
}

#tableFilter {
    max-width: 1000px;
    margin: auto;
}

.tableFilter, .filter {
    padding: 6px 12px 6px 12px;
    margin: 1px 1px 1px 1px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid gray;
    background: rgba(215, 212, 231, 0.2) !important;
    font-weight: bold;
    cursor: pointer;
}

.filterListContainer {
    margin-top: 12px;
    margin-bottom: 12px;
}

.newFilter {
    color: rgba(0, 0, 0, 0.5) !important;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 4rem;
    height: 23px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(54, 61, 61, 0.788);
    padding: 1px 0px 1px 0px;
}

.background2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 3rem;
    height: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(54, 61, 61, 0.788);
    padding: 0px 2px 0px 2px;
}

.background3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border: none;
    width: 3rem;
    height: 20px;
    border-radius: 5px;
    font-weight: bold;
    /*font-size: 0.6rem;*/
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(54, 61, 61, 0.788);
    padding: 0px 2px 0px 2px;
}

.background4 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border: none;
    width: 3.5rem;
    height: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(54, 61, 61, 0.788);
    padding: 0px 2px 0px 2px;
}

.TYPE_NORMAL {background: #A8A77A;}
.TYPE_FIRE {background: #EE8130;}
.TYPE_WATER {background: #6390F0;}
.TYPE_ELECTRIC {background: #cf9a09;}
.TYPE_GRASS {background: #62a13d;}
.TYPE_ICE {background: #65a19e;}
.TYPE_FIGHTING {background: #C22E28;}
.TYPE_POISON {background: #A33EA1;}
.TYPE_GROUND {background: #b1954f;}
.TYPE_FLYING {background: #8571be;}
.TYPE_PSYCHIC {background: #F95587;}
.TYPE_BUG {background: #808f13;}
.TYPE_ROCK {background: #B6A136;}
.TYPE_GHOST {background: #735797;}
.TYPE_DRAGON {background: #6F35FC;}
.TYPE_DARK {background: #705746;}
.TYPE_STEEL {background: #8c8c9e;}
.TYPE_FAIRY {background: #D685AD;}


.Physical {filter: brightness(200%);}
.Special {filter: brightness(200%);}
.Status {filter: brightness(300%);}

.Move {color: #86FF64;}
.Item, .Split {color: #FFC2F0;}
.BaseStats {color: #70FFFA;}
.Ability, .Flag {color: #FFF86E;}
.EggGroup {color: #ACAAFF;}
.Form {color: #FFAFAF;}

.splitIcon {width: 40px;}


.modal {
    background: #232529;
    color: white;
    padding: 1em;
    max-width: 50ch;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.flexCenter {
    /*justify-content: center;*/
    align-items: center;
}

.flexAlign {
    align-items: center;   
}

.hover {
    cursor: pointer;
}

.reduceOpacity {
    opacity: 0.75;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #3D3B3B;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 14px;
}

#popup h2 {
    margin-top: 0;
    /*font-size: 18px;*/
    text-align: center;
}

#popup ul {
    padding-left: 20px;
}

#popup li {
    margin-bottom: 5px;
}

#popup p {
    margin-bottom: 10px;
}

.hyperlink {
    text-decoration: underline;
    color: #FFFFFF;
}

.hyperlink:hover {
    color: #A8D3FF !important;
    cursor: pointer;
}

.popupFilterButton {
    display: flex;
    margin: auto;
    background-color: #303134;
    border: 1px solid gray !important;
    outline: none;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
}

.popupFilterButton:hover {
    cursor: pointer;
    background: rgba(215, 212, 231, 0.4) !important;
}

.hrefContainer {
    display: contents !important;
    all: inherit
}