#movesButton {
	width: 100px;
}


#movesTableThead th.move {
	width: 150px;
}
#movesTableThead th.type {
    width: 80px;
}
#movesTableThead th.split {
    width: 50px;
}
#movesTableThead th.power {
	width: 75px;
}
#movesTableThead th.accuracy {
	width: 50px;
}
#movesTableThead th.PP {
	width: 40px;
}
#movesTableThead th.effect {
	width: 350px;
}

#movesTableTbody .nameContainer {
    font-weight: 600;
}


#movesTableTbody .description {
    padding: 5px;
    font-style: italic;
}
#movesTableTbody .effect {
    padding: 5px;
    font-weight: bold;
}


#movesTable .background {
    margin: 5px auto;   
}




@media 
only screen and (max-width: 700px) {
    #movesTable, #movesTableThead, #movesTableTbody, #movesTable td, #movesTable tr { 
        padding: 0.3rem 0;
        display: block;
        border: none;
    }

    #movesTable th {
        width: 60px !important;
        /*display: none;*/
    }

    #movesTableThead > tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(60px + 1rem), 1fr));
        justify-items: center;
        gap: 3px;
    }

    #movesTable [class*="TYPE_"] {
    	display: inline-flex !important;
    }

    #movesTable .effect > div {
    	display: inline !important;
    	font-style: italic;
    }

    .movesHeader {
        display: inline-flex !important;
        font-weight: bold;
    }

    .powerContainer, .accuracyContainer, .PPContainer {
    	padding: 4px 0px 5px 0px;
    	display: inline-block !important;
    	width: 33.3% !important;
    	box-sizing: border-box;
    }

    #movesTable td.nameContainer, #movesTable td.type, #movesTable td.split{ display: inline-block; } 
    #movesTable td.nameContainer { width: 50% !important; box-sizing: border-box; font-weight: bold; }
    #movesTable td.type { width: 35% !important; box-sizing: border-box; text-align: right; }
    #movesTable td.split { width: 15% !important; box-sizing: border-box; }
}