#speciesPanelCloseButton {
	float: right;
	background-color: red;
}

#speciesPanelMainContainer {
	justify-content: center;
	background: rgba(0, 0, 0, 0.15);
}

#speciesPanelContainer {
	width: 1000px;
	padding-top: 2rem;
}

#speciesName {
	font-size: 16pt;
}

#speciesID {
	font-size: 11pt;
	margin-left: 5px;
	color: #999999;
}

#speciesSprite {
	padding-right: 10px;
	width: 64px;
   height: 64px;
   aspect-ratio: auto 64 / 64;
}

.speciesPanelText {
	margin-bottom: 5px;
	font-size: 9pt !important;
	font-weight: bold;
	color: #777777;	
}

#speciesAbilitiesContainer {
	font-size: 11pt;
}

#speciesPanelSubcontainer2, #speciesEvolutionsMainContainer {
	padding: 15px 0px 0px 0px;
}


.speciesPanelTextPadding {
	padding: 2px 0px 7px 15px;
}
.speciesPanelAbilitiesDescriptionPadding {
	padding: 0px 0px 7px 15px;
}

#speciesEggGroupsContainer, #speciesHeldItemsContainer, #speciesChangesContainer {
	flex: 1;
}

#speciesEggGroups, #speciesHeldItems, #speciesChanges {
	font-size: 15px;
	width: max-content;
}

.nerf {
	color: #ef5350;
}

.buff {
	color: #64dd17;
}

.changeTextAlignFlex {
	flex: 1;
	text-align: right;
}

.speciesPanelStatPadding {
	padding-right: 15px;
}

.evoMethod {
	display: flex;
	align-items: center;
	/*
	justify-content: center;
	*/
	cursor: pointer;
	font-size: 18px;
	padding: 5px 0px 5px 0px;
}

#speciesEvoTable {
	background: none !important;
}

#speciesEvoTableContainer {
	box-shadow: none !important;
	margin: 0% !important;
}










#speciesBaseStatsGraphContainer {
	/*
	justify-content: center;
	*/
}



#statsSection {
  justify-content: center;
  padding: 10px 0px 10px 0px;
  /*
  background: #121418;
  color: white;
  width: 310px;
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto;
  */
}

#statsNames {
  display: grid;
  grid-template-rows: repeat(1fr);
  font-size: 13px;
  line-height: 0;
}


#statsNames p {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-right: 5px;
  font-weight: bold;
}



.statsGraphHeader {
  font-weight: 800;
}


#statsGraph {
  width: 200px;
  display: grid;
  grid-template-rows: repeat(1fr);
}


#statsGraph > div {
  margin: 0.4rem 0;
  filter: opacity(90%);
  border-radius: 3px;
}


#statsNames p:last-child, #statsGraph div:last-child {
  transform: translateY(15px);
}






.miniSprite {
	padding: 0px 15px 5px 15px;
	width: 32px;
  height: 32px;
  aspect-ratio: auto 32 / 32;
}

.miniSprite2 {
	padding-left: 5px;
	width: 32px;
  height: 32px;
  aspect-ratio: auto 32 / 32;
}

.miniSprite3 {
	padding: 0px 15px 5px 15px;
	width: 48px;
  height: 48px;
  aspect-ratio: auto 48 / 48;
}

#speciesTypeChartContainer {
	padding-top: 50px;
}

#speciesTypeChart {
	justify-content: center;
	padding: 10px 0px 10px 0px;
}

.typeChart0 {
	background: rgba(0, 0, 0, 0.7);
}

.typeChart0\.25 {
	background: rgb(100, 221, 23);
}

.typeChart0\.5 {
	background: rgba(100, 221, 23, 0.7);
}

.typeChart2 {
	background: rgba(239, 83, 80, 0.7);
}

.typeChart4 {
	background: rgb(239, 83, 80);
}

.speciesTypeChartMarginTop {
	margin: 10px 1px 0px 1px;
}





#speciesPanelTablesContainer > table {
    width: 100%;
}

#speciesPanelTablesContainer > table > thead > tr > th {
    background: rgba(215, 212, 231, 0.075); 
    color: white; 
    font-weight: bold; 
    padding: 0.5rem 0.5rem;
}

.speciesPanelLearnsetsTableMargin {
	margin-top: 75px;
	margin-bottom: 75px;
}

#speciesPanelTablesContainer {
	font-size: min(max(1vmax, 11px), 16px)
}






@media 
only screen and (max-width: 700px) {
	.resizeEvo3 .miniSprite3 {
		padding: 0px 5px 5px 5px !important;
	}
	#speciesPanelSubcontainer4 {
		flex-direction: column;
	}
	.resizeEvo3 .evoMethod {
		font-size: 10px;
	}
}

@media 
only screen and (max-width: 525px) {
	.speciesPanelLearnsetsEffect {
		display: none;
	}
	.resizeEvo2 .miniSprite3 {
		width: 32px;
		height: 32px;
		aspect-ratio: auto 32 / 32;
	}
}

@media 
only screen and (max-width: 400px) {
	.speciesPanelLearnsetsPP {
		display: none;
	}
	.resizeEvo1#speciesEvoTable {
		display: table-caption !important;
	}
}

@media 
only screen and (max-width: 350px) {
	.speciesPanelLearnsetsAccuracy {
		display: none;
	}
}

@media 
only screen and (max-width: 300px) {
	.speciesPanelLearnsetsPower {
		display: none;
	}
}